/* Variables */
:root {
  --backgroundcolor: rgba(251, 229, 214, 0.25);
  --darkColor: rgba(58, 56, 56, 255);
  --orangeColor: rgba(236, 124, 48, 255);
  --lightColor: rgba(251, 229, 214, 255);
}

/* ScrollBar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: var(--backgroundcolor);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--orangeColor);
  border: 1px solid var(--lightColor);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--darkColor);
}
::-webkit-scrollbar-button {
  display: none;
}

/* Scroll To Top Button */

.scrollToTop {
  width: 32px;
  height: 32px;
  position: fixed;
  bottom: 32px;
  right: 16px;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
.scrollToTop:hover {
  opacity: 1;
}
/* Global Styles */
body {
  background-color: var(--backgroundcolor);
  color: var(--darkColor);
  font-family: roboto;
  padding-top: 48px;
}
.container {
  height: 100%;
}
.button {
  font-size: 22px;
  border-radius: 8px;
  padding: 8px 16px;
  background-color: var(--darkColor);
  color: var(--orangeColor);
}
.button-outline {
  background-color: var(--backgroundcolor);
  color: var(--darkColor);
  border: 2px solid var(--darkColor);
}
.section-title {
  margin-top: 32px;
  margin-bottom: 32px;
  padding-left: 16px;
  background-color: var(--darkColor);
  color: var(--orangeColor);
  font-size: 48px;
}
.section-title::after {
  content: ' _';
  opacity: 1;
  animation: blink 1s infinite;
}

/* Header */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 48px;
  background-color: var(--darkColor);
  z-index: 1000;
}
nav {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-container {
  position: relative;
}
.menu-button {
  display: none;
  flex-direction: column;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  position: fixed;
  padding: 0 4px;
  left: 4px;
}
.menu-button span {
  background-color: var(--lightColor);
  border-radius: 6px;
  height: 4px;
  margin: 4px 0;
}
.logo {
  height: 100%;
  padding: 4px 0;
  display: flex;
  align-items: center;
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.1s ease-in-out;
}
.logo:hover {
  transform: scale(1.025);
}
.logo img {
  height: 100%;
}
.desktop-menu {
  display: flex;
  height: 100%;
  align-items: center;
}
.mobile-menu .menu-item {
  color: var(--darkColor);
  font-size: 28px;
  cursor: pointer;
  border-bottom: 1px solid var(--darkColor);
  margin-bottom: 6px;
}
.desktop-menu .menu-list {
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0;
}
.desktop-menu .menu-item {
  margin-left: 16px;
  cursor: pointer;
  font-size: 22px;
  color: var(--lightColor);
  border: none;
}
.desktop-menu .menu-item:hover {
  color: white;
  border-bottom: 1px solid white;
  text-shadow: 0 4px 4px rgba(255, 255, 255, 0.25);
}
.menu-language {
  position: relative;
  margin-left: 32px;
}
.language-button {
  padding: 4px 6px;
  border-radius: 8px;
  border: 1px solid var(--lightColor);
  background-color: var(--darkColor);
  color: var(--lightColor);
  cursor: pointer;
}
.language-selector {
  display: none;
  position: absolute;
  right: 8px;
  top: 48px;
  width: 64px;
  padding: 0;
  background-color: var(--darkColor);
  border: 1px solid var(--lightColor);
  border-top: none;
  border-radius: 0 0 8px 8px;
  transition: opacity 0.3s ease-in-out;
}
.active {
  display: block;
}
.language-selector-item {
  text-align: center;
  padding: 4px 0;
  cursor: pointer;
  color: var(--lightColor);
}
.language-selector-item:not(:last-child) {
  border-bottom: 1px solid var(--lightColor);
}

/* Hero Section */
.section-hero {
  height: calc(100vh - 48px);
  min-height: calc(100vh - 48px);
  padding-bottom: 48px;
}
.hero-container {
  padding: 16px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.hero-content {
  display: flex;
  align-items: center;
  width: 100%;
}
.hero-content-block {
  padding-top: 48px;
  width: 50%;
  height: 100%;
}
.hero-content-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero-info-terminal {
  width: calc(100% - 14px);
  height: 196px;
  border: 4px solid var(--orangeColor);
  padding: 16px;
  border-radius: 16px;
  font-size: 44px;
  background-color: var(--darkColor);
  color: var(--orangeColor);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  cursor: crosshair;
  user-select: none;
}
.terminal-name {
  padding: 8px;
  border-radius: 4px;
  font-weight: 900;
  background-color: var(--orangeColor);
  color: var(--darkColor);
}
.hero-info-buttons {
  margin-top: 32px;
}
.hero-info-buttons button {
  margin-right: 16px;
}
.hero-content-photo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-photo img {
  border: 4px solid var(--orangeColor);
  border-radius: 50%;
  width: 400px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  cursor: none;
}
.hero-info {
  margin-top: 32px;
  font-size: 18px;
  padding: 0 32px;
}
.scroll {
  position: absolute;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
}

/* About Section */
.about-content {
  display: flex;
}
.about-block {
  width: 50%;
}
.about-block-title {
  display: flex;
  align-items: center;
  width: calc(100% - 64px);
  background-color: var(--orangeColor);
  color: var(--darkColor);
  border-radius: 0 8px 8px 0;
  font-size: 22px;
  font-weight: 700;
  padding: 4px 16px;
}
.about-block-title img {
  margin-right: 8px;
}
.about-list {
  padding: 16px 8px;
  font-size: 22px;
}
.about-list-item {
  position: relative;
  margin-left: 36px;
}
.about-list-item:not(:last-child) {
  margin-bottom: 8px;
}
.about-list-item::before {
  content: '</>';
  position: absolute;
  left: -38px;
  top: 0;
  font-weight: 700;
}
.tech-title {
  font-weight: 700;
}
.soft-skill-item {
  margin-left: 18px;
}
.soft-skill-item::before {
  left: -22px;
  top: 3px;
  font-size: 18px;
  content: '▶';
}

/* Contacts Section */
.section-contacts {
  padding-bottom: 32px;
}
.contacts-item {
  display: flex;
  align-items: center;
  font-size: 22px;
}
.contacts-item:not(:last-child) {
  margin-bottom: 8px;
}
.contacts-item a {
  text-decoration: none;
  color: var(--darkColor);
}
.contacts-item-image {
  margin-right: 8px;
}
.contacts-item-image img {
  width: 32px;
  height: 32px;
}
.contacts-item-title {
  font-weight: 700;
}

/* CV Section */
.cv-content {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-bottom: 32px;
}
.cv-doc-button {
  position: relative;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.cv-doc-button img {
  width: 200px;
}
.cv-doc-type {
  position: absolute;
  bottom: 12px;
  right: 48px;
  font-size: 42px;
  font-weight: 900;
  color: var(--orangeColor);
}
.cv-links {
  opacity: 0;
  display: none;
  position: absolute;
  top: 64px;
  padding: 8px 16px;
  border: 1px solid var(--orangeColor);
  border-radius: 8px;
  background-color: var(--darkColor);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  transition: opacity 3s ease-in-out;
}
.cv-links.active {
  opacity: 1;
  display: block;
}
.cv-links a {
  font-size: 24px;
  margin-bottom: 16px;

  text-decoration: none;
  color: var(--lightColor);
}
.cv-links a:not(:last-child)::after {
  content: ' | ';
}

/* Footer */
.footer {
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  background-color: var(--darkColor);
  color: var(--lightColor);
}

@media (max-width: 1399px) {
  .hero-photo img {
    width: 250px;
  }
}

@media (max-width: 1199px) {
  .desktop-menu .menu-item {
    margin-left: 12px;
    cursor: pointer;
    font-size: 18px;
    color: var(--lightColor);
    border: none;
  }
  .hero-info-terminal {
    font-size: 42px;
    height: 178px;
  }
  .hero-info {
    line-height: 1.2;
    font-size: 16px;
  }
}

@media (max-width: 991px) {
  .menu-button {
    display: flex;
  }
  .desktop-menu {
    display: none;
  }
  .offcanvas {
    background-color: #fef8f5;
    color: var(--darkColor);
  }
  .offcanvas .menu-item {
    color: var(--darkColor);
  }
  .logo {
    margin-left: 36px;
  }
  .scroll {
    display: none;
  }
  .section-hero {
    height: 100%;
  }
  .hero-content {
    flex-direction: column;
  }
  .hero-content-block {
    width: 100%;
  }
  .hero-info-buttons {
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .hero-photo img {
    width: 400px;
  }
  .about-content {
    flex-direction: column;
  }
  .about-block {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .section-title {
    font-size: 32px;
  }
}
@media (max-width: 575px) {
  .logo {
    padding-left: 8px;
  }
  .logo img {
    width: 200px;
    height: auto;
  }
  .hero-container {
    padding-top: 8px;
  }
  .hero-content-block {
    padding-top: 0;
  }
  .hero-content-info-container {
    padding: 0 8px;
  }
  .hero-info-terminal {
    font-size: 28px;
    height: 136px;
    width: 100%;
  }
  .button {
    font-size: 16px;
    border-radius: 4px;
    padding: 4px 8px;
  }
  .hero-info-buttons {
    display: flex;
    justify-content: center;
  }
  .hero-info-buttons button {
    margin: 0 8px;
  }
  .hero-photo img {
    width: 280px;
  }
  .hero-info {
    padding: 0 16px;
  }
  .section-title {
    font-size: 26px;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 2px 8px;
  }
  .about-block-title {
    font-size: 18px;
  }
  .about-block-title img {
    margin-right: 4px;
    margin-bottom: 2px;
    width: 20px;
  }
  .about-list {
    padding: 8px 4px;
    font-size: 16px;
  }
  .about-list-item {
    margin-bottom: 4px;
    margin-left: 22px;
  }
  .about-list-item::before {
    left: -24px;
  }
  .soft-skill-item {
    margin-left: 14px;
  }
  .soft-skill-item::before {
    left: -18px;
    top: 0;
  }
  .contacts-item {
    font-size: 16px;
  }
  .contacts-item-image img {
    width: 24px;
    height: 24px;
  }
  .cv-content {
    flex-direction: column;
    align-items: center;
  }
  .cv-doc-button {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .cv-doc-button:not(:last-child) {
    margin-bottom: 32px;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
